
body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    font-family: Arial, sans-serif;
}


.scene {
    width: 100vw; 
    height: 100vh;
   
    background: linear-gradient(to top, #87ceeb, #bde0fe); 
    position: relative;
    overflow: hidden;
}


.cloud {
    position: absolute;
    top: 20%;
    width: 250px;
    height: 120px;
    background: url("images/cloud.png") no-repeat center/contain;
    animation: moveClouds 25s linear infinite;
    opacity: 0.9;
}

.cloud2 {
    top: 40%;

    animation-duration: 35s; 
    opacity: 0.6;
   
    transform: scale(0.7); 
}


@keyframes moveClouds {
    0% { 
        left: -300px; 
        transform: scale(1);
    } 
    100% { 
        left: 110%; 
        transform: scale(1);
    }
}


.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    background: #5cb85c;
    /* Анімація тіні */
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2) inset;
    animation: shadowPulse 4s ease-in-out infinite alternate;
}


@keyframes shadowPulse {
    0%, 100% { 
        box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2) inset; 
    }
    50% { 
        box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.4) inset; /* Тінь посилюється */
    }
}


.pikachu {
    position: absolute;
   
    bottom: 160px; 
    left: 50px;

   
    width: 40px; 
    height: 40px;

  
    background: url("images/pikachu_sheet.png") 0 0 no-repeat;
    background-size: auto; 
    
  
    background-position-y: 0;

 
    animation: run 0.4s steps(4) infinite; 
}


@keyframes run {
    from { 
        background-position-x: 0; 
    }
  
    to   { 
        background-position-x: -160px; 
    }
}
