// Основні змінні сайту (кольори, шрифти, розміри)

$bg-gradient-start: #0a1c2e;
$bg-gradient-end: #1a4b73;

$text-color: #ffffff;

$accent: #ffcc00;
$accent-hover: #ffe680;

$card-bg: rgba(255, 255, 255, 0.15);
$card-border: rgba(255, 255, 255, 0.4);

$font-main: "Poppins", sans-serif;

$radius: 25px;
